*{
    box-sizing: border-box;
}

html, body{
    margin:0;
    padding:0;
}

body {
    margin:5vw 10vw;
    background-color: #ffffff;
}

/*
====================================
 HEADER
====================================
*/

header{
    display: flex;
    height:20%;
    align-items: center;
}

header h1{
    width:25%;
    font-weight: normal;
    font-size: 4rem;
    margin:0;
}

header h2{
    width:25%;
    font-size: 0.8rem;
    margin:0;
}

header nav{
    min-height: 1em;
    width:50%;
}

/*
====================================
 MAIN
====================================
*/

main{
    display:flex;
    height:calc(0.8 * (100vh - 10vw));
}

main div{
    width:50%;
    height:100%;
}

main #inventaire{
    overflow-y: scroll;
}